@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: inter;
  overflow-x: hidden; /* Verberg de horizontale overflow */

}

.First-page {
  position: relative; /* Voeg position toe */
  z-index: -1;
  height: 60.5em;
}

.Second-page {
  height: 60.5em;
  background-color: red;
  z-index: 2;
}

.Third-page {
  height: 60.5em;
  background-color: green;
}

.portfolio-page {
  height: 60.5em;
  background-color: purple;
}